// Shows the evaluation results for all services

<script setup lang="ts">
import * as data from "../data/newdata";
import * as olddata from "../data/data";
import * as auth from "../auth/auth";
import { Ref, ref } from "vue";
import { CloudService, Control } from "../data/model";
import ServiceSummary from "../components/ServiceSummary.vue";

let services: Ref<CloudService[]> = ref([]);
let controls: Ref<Control[]> = ref([]);

if (auth.isAuthenticated() || olddata.getTestdata()) {
  services.value = await data.listCloudServices();
  controls.value = await data.listControls();
}
</script>

<template>
  <div v-if="!auth.isAuthenticated() && !olddata.getTestdata()">
    <p>Please log in or use testdata to continue</p>
  </div>
  <div v-else id="evaluation">
    <h2 class="pb-2">Cloud Service Overview</h2>

    <!-- For each service show a service eval -->
    <div v-if="services.length == 0">
      <p>No services</p>
    </div>
    <div v-else>
      <div class="card-rows">
        <p v-for="service in services">
          <ServiceSummary :service="service" :controls="controls" />
        </p>
      </div>
    </div>
  </div>
</template>

<style>
.card-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>