<script setup lang="ts">
import * as data from "../data/newdata";
import * as olddata from "../data/data";
import * as auth from "../auth/auth";
import { Ref, ref } from 'vue';
import ControlEval from "../components/ControlEval.vue";
import PieChart from "../components/PieChart.vue";
import { CloudService, Control } from '../data/model';

export interface EvaluationDetailProps {
    id: string
}

const props = defineProps<EvaluationDetailProps>();

let service: Ref<CloudService> = ref({} as CloudService);
let controls: Ref<Control[]> = ref([]);

if (auth.isAuthenticated() || olddata.getTestdata()) {
    service.value = await data.getCloudService(props.id);
    controls.value = await data.listControls();
}

const compliance = await data.calculateCompliance(service.value);

function controlFor(controlId: string): Control {
    return (
        controls.value.find((control) => control.id == controlId) ?? {
            id: controlId,
            name: "Unknown",
            metrics: [],
        }
    );
}
</script>

<template>
    <div v-if="!auth.isAuthenticated() && !olddata.getTestdata()">
        <p>Please log in or use testdata to continue</p>
    </div>
    <div v-else id="evaluation">
        <PieChart v-if="compliance.chartdata" :chartData="compliance.chartdata" :height="165"
            style="max-width: 400px; float: right" />

        <h2 class="pb-2">{{ service.name }}</h2>
        <div class="text-muted mb-4">{{ service.description }}</div>
        <span v-if="compliance.status == data.ComplianceStatus.Compliant" class="text-success">
            Compliant
        </span>
        <span v-else-if="compliance.status == data.ComplianceStatus.NonComplaint" class="text-danger">
            Not Compliant
        </span>
        <span v-else style="color: gray">
            Pending
        </span>
        <div class="mb-4">
            Monitoring {{ service.requirements?.requirementIds.length ?? 0 }} control(s)
        </div>
        <div class="card-footer text-muted mb-2" style="font-size: 0.9rem">
            Last update: {{ compliance.latestDate?.toLocaleString() ?? 'Pending' }}
        </div>
        <div class="card-columns">
            <p v-for="controldId in service.requirements?.requirementIds ?? []" class="mt-2">
                <ControlEval :service="service" :control="controlFor(controldId)"
                    :result="compliance.latest.get(controldId)" />

            </p>
        </div>
    </div>
</template>
