* Shows the evaluation results of the last 30 days
<script setup lang="ts">
import $ from "jquery";
import ServiceEval from "../components/ServiceEval.vue";
import HistoryChart from "../components/HistoryChart.vue";
import * as data from "../data/data";
import * as auth from "../auth/auth";
import ControlPercentage from "../components/ControlPercentage.vue";
import * as newdata from "../data/newdata";
import { CloudService, Control } from "../data/model";
import { ref, Ref } from "vue";

var selectedDate = new Date();
var selectedDay = 1;
var startDate = new Date();
var startDay = 1;
var endDate = new Date();
var endDay = 30;
var selectedEvals: any;
var compDays;
var nDays;
var mostComp;
var leastComp;
var history = [];
var evalForDay = [];

var services: Ref<CloudService[]> = ref([]);
var controls: Ref<Control[]> = ref([]);

if (auth.isAuthenticated() || data.getTestdata()) {
  services.value = await newdata.listCloudServices();
  controls.value = await newdata.listControls();
}

function getDay(n) {
  var target = new Date();
  target.setDate(target.getDate() - n);
  const date =
    target.getDate() +
    "." +
    (target.getMonth() + 1) +
    "." +
    target.getFullYear();
  return date;
}

async function dateChanged(event) {
  selectedDate.setDate(selectedDate.getDate() - event.target.value);
  selectedDay = event.target.value;
  services.value = await newdata.listCloudServicesForDay(selectedDay);
}

async function startDateChanged(event) {
  startDate.setDate(startDate.getDate() - event.target.value);
  startDay = event.target.value;
  selectedEvals = await data.getSupEval(startDay, endDay);
}

async function endDateChanged(event) {
  endDate.setDate(endDate.getDate() - event.target.value);
  endDay = event.target.value;
  selectedEvals = await data.getSupEval(startDay, endDay);
}
if (auth.isAuthenticated() || data.getTestdata()) {
  history = await data.getHistory();
}

if (auth.isAuthenticated() || data.getTestdata()) {
  //selectedEvals = await data.getSupEval(startDay, endDay);
  compDays = await data.getDaysCompliant();
  nDays = (await data.getHistory()).length;
  mostComp = await data.getMostCompliantService();
  leastComp = await data.getLeastCompliantService();
  //evalForDay = await data.getEvalForDay(selectedDay);
}
</script>


<template>
  <div v-if="!auth.isAuthenticated() && !data.getTestdata()">
    <p>Please log in or use testdata to continue</p>
  </div>
  <div v-else id="overview">
    <div v-if="history.length == 0">
      <p>No services could be loaded</p>
    </div>
    <div v-else>
      <div>
        <!-- Overall summary -->
        <h1>Summary over the last 30 days</h1>
        <p>
          Days were all services were compliant: {{ compDays }} of
          {{ nDays }}
        </p>
        <p>Most compliant service: {{ mostComp }}</p>
        <p>Least compliant service: {{ leastComp }}</p>
      </div>
      <div>
        <HistoryChart />
      </div>
      <div>
        <!-- Details for a specific date -->
        &nbsp;&nbsp;&nbsp;&nbsp;
        <h1>Evaluation for a specific date</h1>
        <p>Select date</p>
        <select name="date" @change="dateChanged($event)" id="date">
          <option v-for="n in 30" v-bind:key="n" v-bind:value="n">
            -{{ n }} days | {{ getDay(n) }}
          </option>
        </select>
        <!-- show evaluation result for selected date -->
        <div class="card-columns">
          <p v-for="service in services">
            <ServiceEval :service="service" :controls="controls" :day="selectedDay" />
          </p>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</template>


<style>
.card-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>