* Landing page for sucessful logins
<script setup lang="ts">
import { settings, OidcClient } from "../auth/settings";
import { log } from "../auth/auth";
import * as auth from "../auth/auth";
import { useRouter, useRoute } from 'vue-router'

var message = "loggedin";
const router = useRouter()
const route = useRoute()
var url = route.fullPath;
var token = "";
message = "Login sucessful, forwarding...";
new OidcClient(settings)
  .processSigninResponse(url)
  .then(function (response) {
    log("signin response success", response);
    auth.setToken(response.access_token);
    auth.setIdToken(response.id_token);
    location.reload();
  })
  .catch(function (err) {
    console.error(err);
    log(err);
  });
// Go back to start page
router.push("/");

</script>

<template>
  <div id="login">
    <h1>{{ message }}</h1>
  </div>
</template>