<script setup lang="ts">
import { CloudService } from "../data/model";
import * as data from "../data/newdata"
import ValueTable from "./ValueTable.vue"

interface EvaluationProps {
    evidenceId: string
    service: CloudService
}

let props = defineProps<EvaluationProps>();

let evidence = await data.getEvidence(props.evidenceId);

function flatten(obj, parent?, result = {}) {
    for (let key in obj) {
        let property = parent ? parent + '.' + key : key;

        if (typeof obj[key] == 'object') {
            flatten(obj[key], property, result);
        } else {
            result[property] = obj[key];
        }
    }

    return result;
}
</script>

<template>
    <div class="modal fade text-black" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Evidence</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Evidence Id</th>
                                <td>{{ evidence.id }}</td>
                            </tr>
                            <tr>
                                <th style="min-width: 150px">Target Service</th>
                                <td>{{ evidence.targetService }} ({{ service.name }})</td>
                            </tr>
                            <tr>
                                <th>Target Resource</th>
                                <td>{{ evidence.targetResource }}</td>
                            </tr>
                            <tr>
                                <th>Tool ID</th>
                                <td>{{ evidence.toolId }}</td>
                            </tr>
                            <tr>
                                <th>Gathered At</th>
                                <td>{{ evidence.gatheredAt }}</td>
                            </tr>
                            <tr>
                                <th>Value</th>
                                <td>
                                    <ValueTable :value="flatten(evidence.value, null)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.modal-body {
    text-align: left;
}
</style>