<script setup lang="ts">
export interface ValueTableProps {
    value: any
}
defineProps<ValueTableProps>()
</script>
<template>
    <table>
        <tr v-for="entry of Object.entries(value)">
            <td class="pe-4">{{ entry[0] }}</td>
            <td>{{ entry[1] }}</td>
        </tr>
    </table>
</template>